<h1>Add a season</h1>

<form action="/seasons" method="post">
  <label for="seasonName">Season name:</label>
  <input id="seasonName" name="seasonName" type="text">
  <button type="submit">Submit</button>
</form>

<a href="/">Home page</a>
<a href="/seasons">Back to seasons</a> 