@using TravelDiary.Models;

@if (Model.Count == 0)
{
  <p>There are no places in your diary yet.</p>
  <p><a href="/places/new">Add a new place!</a></p>
}
<ul>
@foreach (Place place in Model)
{
    <li><a href="/places/@place.Id">@place.CityName</a></li>
}
</ul>

<p><a href="/places/new">Add a new place!</a></p>
<form action="/places/delete" method="post">
  <button type="submit" name="button">Clear All Places</button>
</form>

<a href="/seasons/new">Add a new Season!</a>