<h1>This where the form for our places view would live</h1>
<p> we'll have a form in here that will fill out for Place info, that will take us to our Place-Index</p>

<form action="/seasons/@Model.Id/places" method="post">
  <input id="seasonId" name="seasonId" type="hidden" value="@Model.Id">
  <label for="cityName">City Name</label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Submit</button>
</form>
