@using TravelDiary.Models;

<h3>Here are all the places in this Season category:</h3>

<h2>@Model["place"].CityName</h2>
<h3>Season: @Model["season"].SeasonName</h3>

<p><a href='/seasons/@Model["season"].Id/places/new'>Add a new season</a></p>
<p><a href='/seasons'>Return to season list</a></p>
<p><a href='/'>Return to Main Page</a></p>